.objectList .Box-F.listStyle {
	position: relative;
}

/*	Dropdown	*/
.traderaPlus-dropdown {
	position: absolute;
	display: block;
	top: 0;
	right: 20px;
	width: 15px;
	height: 12px;
	background-image: -webkit-linear-gradient(#fee56e, #ffdc42);
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 3px 3px;
	cursor: pointer;
	opacity: 0.25;
	overflow: hidden;
	-webkit-transition: opacity 150ms linear;
}

.traderaPlus-dropdown::after {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 3px;
	width: 0; 
	height: 0;
	border-top: 4px solid #fff;
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent;
}

.Box-F.listStyle:hover .traderaPlus-dropdown {
	opacity: 1;
}

.traderaPlus-dropdown a {
	position: relative;
	display: none;
	padding: 3px 8px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

.traderaPlus-dropdown a:before {
	content: attr(data-label);
}

.traderaPlus-blockedItem .traderaPlus-dropdown a[data-controller="items"]::before {
	content: attr(data-altlabel);
}

.traderaPlus-blockedSeller .traderaPlus-dropdown a[data-controller="sellers"]::before {
	content: attr(data-altlabel);
}

.traderaPlus-hasNote .traderaPlus-dropdown a[data-controller="notes"]::before {
	content: attr(data-altlabel);
}

.traderaPlus-hideblocked a[data-controller="options"]::after {
	position: absolute;
	top: 3px;
	right: 8px;
	content: "✔";
}

.traderaPlus-dropdown a:hover {
	background: #fff;
	color: #333;
}

.traderaPlus-dropdown[data-open="true"] {
	height: 78px;
	width: 140px;
	padding: 2px 0 12px;
	box-shadow: 0 3px 2px rgba(0,0,0,0.15);
	opacity: 1;
	-webkit-transition: height 150ms linear;
}

.traderaPlus-dropdown[data-open="true"]::after {
	left: 51px;
	border-top: none;
	border-bottom: 4px solid #fff;
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent; 
}

.traderaPlus-dropdown[data-open="true"] a {
	display: block;
}

/*	Note	*/
.traderaPlus-note {
	width: 727px;
	padding: 5px 8px;
	margin: -8px 0px 0px;
	background-image: -webkit-linear-gradient(#fee56e, #ffdc42);
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.traderaPlus-note textarea {
	width: 100%;
	min-height: 39px;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
	font-family: sans-serif;
	line-height: 14px;
	outline: none;
	overflow: hidden;
	resize: vertical;
	-webkit-appearance: none;
}



/*	Dialog	*/
#traderPlus-dialog {
	position: absolute;
	top: -10%;
	left: 50%;
	width: 250px;
	margin: -125px;
	-webkit-transition: top 200ms ease-in-out;
}

#traderPlus-dialog.show {
	top: 25%;
}

#traderPlus-dialog header {

}

#traderPlus-dialog article {

}

#traderPlus-dialog fieldset {

}



/*	BLOCKED ITEMS	*/
.traderaPlus-fadeblocked .traderaPlus-blockedItem,
.traderaPlus-fadeblocked .traderaPlus-blockedSeller {
	opacity: 0.25;
}

.traderaPlus-fadeblocked .traderaPlus-blockedItem:hover,
.traderaPlus-fadeblocked .traderaPlus-blockedSeller:hover  {
	opacity: 0.75;
}

.traderaPlus-hideblocked .traderaPlus-blockedItem,
.traderaPlus-hideblocked .traderaPlus-blockedSeller {
	display: none;
}